Dear {{ name }},
<br><br> We are happy to inform you that your PMS account has been created.
<br><br>Please find details below and login to activate your account.
<br><br> Email: {{ email }}
<br>Password: {{ password }}
<br><br>How to login?
<ul>
    <li>Head over to Login page <a href="{{ login_link }}">click here</a></li>
    <li>Enter your email and password mentioned above.</li>
</ul>
<br><h4>Note: You have to set your new password in order to continue.</h4>
<br><br>Best Regards,
<br> PMS Support Team
